.productBox {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    text-align: center;
}